<div>
    <div class="container">
        <div class="row">
            <h3>You are?</h3>
        </div>
        <div class="row">
            <div class="col-md-6"><img title="I identify as a female" class="loo-button gender-change-button" src="../images/changeGenderFemale.png" ng-click="changeUserFemale()"></div>
            <div class="col-md-6"><img title="I identify as a male" class="loo-button gender-change-button" src="../images/changeGenderMale.png" ng-click="changeUserMale()"></div>
        </div>
    </div>
</div>